<!DOCTYPE html>
<html>
<head>
  <style>
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th{
padding:5px}

  </style>
</head>
<body>

  <p><b>Location</b>: {{ location }}</p>
 <p> <p><b>Device Name</b>: {{ device_name }}</p>
  <p><b>Environment</b>: {{ environment }}</p>

<table>

  <tr>
    <th>S.no</th>
    <th>device_id</th>
    <th>maximum value</th>
    <th>minimum value</th>
    <th>Date time</th>
  </tr>

    {% for data in datas %}
    <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ data.device_id }}</td>
    <td>{{ data.highest_energy_level}}</td>
    <td>{{ data.lowest_energy_level }}</td>
    <td>{{ data.session_date }}</td>
    </tr>
    {% endfor %}

</table>
</body>
</html>

